<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="BlueTheme.css">
</head>


<body class="background">
<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0;">&nbsp;</h1>
<h1 style="color: #5e9ca0;">Welcome to iungo!</h1>
<h2 style="color: #5e9ca0;">Enter <span style="background-color: #5e9ca0; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">help</span> in the command box below to see the available commands!</h2>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
</body>
</html>
